<% include partials/header %>

<div class="container text-center">

	<header class=jumbotron>
		<div class="container">
			<h2>HeavyDB</h2>
			<p>listing the bands that made the scenery heavy</p>
			<hr />
			<p>
				<a class="btn btn-primary btn-block" href='/bands/new'> Add a Band </a>
			</p>
		</div>
	</header>

	<div class="row">
		<% bands.forEach(function(band) { %>
			<div class="col-md-3 col-sm6">	
				<div class="thumbnail">
					<a href="/bands/<%= band._id %>">
						<img src=" <%= band.image %>" />
					</a>
					<div class="caption">
						<h5> <%= band.name %>	</h5>
					</div>
				</div>			
			</div>
		<% }); %>
	</div>	

</div>

<% include partials/footer %>

	