<% include partials/header %>

<div class="container text-center">

	<header class=jumbotron>
		<div class="container">
			<h2> <%= band.name %> </h2>	
			<hr />
			<img src=" <%= band.image %>" />
			
		</div>
	</header>
	
	<br /> <p> <%= band.description %> </p>

	<br /> <a href="/bands">Back to Bands</a>			


</div>


<% include partials/footer %>

	