<% include partials/header %>

		<div class="container text-center">
			
			<br /> <h2> This is HeavyDB! </h2>
			<br /> <h2> listing the bands that made the scenery heavy </h2>
			<br /> <h2> <a href="/bands">See the Bands</a> </h2>
		</div>

<% include partials/footer %>
