body {
    background-color: #fff;
}

.container {	
	margin: 0 auto;
}

.jumbotron {
	margin-top:20px;	
}

.row {
	display:flex;
	flex-wrap: wrap;
}

h1, h2 {
	margin: 1.2em;
}



img {
	width: 450px;
}

.bandwell {
	background-color: #fff;
}

.commentswell {
	background-color: #fcfcfc;
}


footer {
	margin: 20px 0; 
	text-align: center;
	font-size: 12px;
}
