<% include ../partials/header %>

<div class="container text-center">

<h2>Add a Band</h2>

		<form action='/bands' method='post'>
			<div class='form-group'>
				<input type='text' name='name' placeholder="band name" class='form-control'/>
			</div>
			<div class='form-group'>
				<input type='text' name='image' placeholder="image url" class='form-control' />	
			</div>
			<div class='form-group'>
				<textarea type='text' rows=10 name='description' placeholder="text" class='form-control'></textarea>	
			</div>		
			<div class="form-group">
				<input type="submit" value="Add" class="btn btn-success btn-block"/>
			</div>		
		</form>
		<hr />
		<a href='/bands'> Go Back </a>

</div>

<% include ../partials/footer %>